<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .btn {
            padding: : 4px 10px;
            background-color: blue;
            color:black
        }
    </style>
    <title>Verification Email</title>
</head>
<body>
    <div>
        <h1>
            Halo {{username}} 
        </h1>
        <h2>
            Welcome To Instagram
        </h2>
        <p>Please verify your account, click button</p>
        <a href={{link}} target="_blank" class="btn">verify</a>
    </div>
</body>
</html>